/*----------------------------------------------------------------PRINCIPAIS----------------------------------------------------------------*/
body{
    padding-top: 50px;
    font-family: 'Bahnschrift' !important;
    font-size: 1.0rem;
    text-align: justify;
    background-color: rgb(220, 247, 255);
    height: 100%;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

.container {
    margin: 0 auto;
}
/*----------------------------------------SCROLLBAR----------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #747BCF;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5E5FC0;
}

.centraliza {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.card{
    background-color: #747BCF;
    border: none;
    text-align: left !important;
    margin-bottom: 5px;
    margin-top: 5px !important;
}
.engrenagem{
    color:#555555;
    position: absolute;
    top: 10px;
    right: 10px;
}
/*card header*/
.card-header{
    text-align: center;
    background-color: #5E5FC0;

}

.text-shadow{
    text-shadow: 2px 0 0 rgb(0, 0, 0);
    color: #fff;
}

/*--------navbar--------*/
@media (min-width: 1000px) {
    .container-menu{
        background-color: #1F519B;
        width: 900px;
    }
}
@media (max-width: 1000px) {
    .container-menu{
        background-color: #1F519B;
        width: 100% !important;
    }
}

.navbar1{
    background-color: #1F519B;
}

.navbar2 {
    height: 45px;
    margin-top: 56px;
    background-color: #747BCF;
    padding: 0;
}

.navbar-vazio{
    height: 55px;
}

.navbar-brand{
    color: white;
    font-size: 2rem;
}

.navbar-brand-dashboard{
    color: white;
    font-size: 1rem;
}

.menu-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-brand:hover{
    color: rgb(179, 179, 179);
}

h4{
    color: #fff;
}

/*--------footer--------*/
.page-footer{
    background-color: #44832d;
}
.text-center{
    color: white;
}

/*----------------------------------------LOGIN / CADASTRO----------------------------------------*/
@media (min-width: 1000px) {
    .container-login{
        float: center;
        width: 400px;
        background-color: #1F519B;
        margin: 50px auto;
        border-radius: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 1000px) {
    .container-login{
        float: center;
        width: 95%;
        background-color: #1F519B;
        margin: 50px auto;
        border-radius: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}




@media (min-width: 1000px) {
    .container-cadastro{
        float: center;
        background-color: #1F519B;
        border-radius: 10px;
        width: 500px;
        margin: 50px auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 1000px) {
    .container-cadastro{
        float: center;
        background-color: #1F519B;
        border-radius: 10px;
        width: 95%;
        margin: 50px auto;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}


.nav-link{
    color: #fff;
    text-align: center;
}
.nav-link:hover{
    color: rgb(155, 155, 155);
    text-align: center;
}

.espaço {
    line-height: 15px;
    margin: 15px 0;
}

/*--------dashboard usuário--------*/
.centralizar{
    text-align: center;
}

.text-divider{
    text-align: center;
    font-size: 1.1rem !important;
}

/*----------------------------------------MODAL----------------------------------------*/
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*----------------------------------------Placeholders select tag----------------------------------------*/
.fake-placeholder {
    color: gray;
}
.campo-placeholder {
    display:none;
}

/*----------------------------------------Mensagens----------------------------------------*/
@media (min-width: 1000px) {
    .msg-sucesso{
        top: 57px;
        text-align: center;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        opacity: 0.95;
    }
}
@media (max-width: 1000px) {
    .msg-sucesso{
        top: 57px;
        text-align: center;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        opacity: 0.95;
    }
}

@media (min-width: 1000px) {
    .msg-erro{
        top: 57px;
        text-align: center;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        opacity: 0.95;
    }
}
@media (max-width: 1000px) {
    .msg-erro{
        top: 57px;
        text-align: center;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        opacity: 0.95;
    }
}

/*----------------------------------------MENU----------------------------------------*/
/*--------------DROPDOWN--------------*/
/*links de dropright*/

/*hover nos links de dropright*/
.dropdown-toggle:hover {
    background-color: #1a3f77;
    color: #fff;
}

.dropdown-item{
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-item:hover{
    background-color: #1a3f77;
}

.dropdown-divider{
    color: black;
    margin: 0;
}

ul, li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  vertical-align: top;
}

ul li a {
  display: inline-block;
}
/*botão do dropdown*/
ul.main {
    z-index: 999;
    max-height: 500px;
    overflow-y: visible !important;
    height: auto;
    overflow-x: hidden;
    border-radius: 5px;
}

/*conteúdo do botão do dropdown*/
ul.main > li.desplegable > a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
}

/*hover no botão*/
ul.main > li.desplegable:hover {
    background-color: #1a3f77;
}
ul.main > li.desplegable > ul.grupo-desplegable > li a:hover{
    background-color: #1a3f77;
    color: white;
}
/* Grupo Desplegable */
ul.main > li.desplegable > ul.grupo-desplegable,
ul.grupo-desplegable > li > ul.sub-grupo-desplegable {
  display: none;
  position: absolute;
  background-color: rgb(220, 247, 255);
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*cor do item "portal"*/
.dropend .item-portal{
    background-color: #1F519B;
}

/*visibilidade das scroll bars*/
::-webkit-scrollbar {
    display: auto;
}
ul.main > li.desplegable:hover > ul.grupo-desplegable {
  display: block;
}

ul.main > li.desplegable > ul.grupo-desplegable > li,
ul.grupo-desplegable > li > ul.sub-grupo-desplegable > li {
  display: block;
  position: relative;

}
/*links do dropright*/
ul.main > li.desplegable > ul.grupo-desplegable > li:hover,
ul.grupo-desplegable > li > ul.sub-grupo-desplegable > li a:hover {
    background-color: #1F519B;
}

ul.main > li.desplegable > ul.grupo-desplegable > li > a,
ul.grupo-desplegable > li > ul.sub-grupo-desplegable > li > a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Sub Grupo Desplegable */
ul.grupo-desplegable > li > ul.sub-grupo-desplegable {
    top: 0;
    left: 100%;
    z-index: -1;
    max-height: 500px;
    overflow-y: auto !important;
    height: auto;
    overflow-x: hidden;
}

/* Sub Grupo Desplegable */
ul.grupo-desplegable > li:hover > ul.sub-grupo-desplegable {
  display: block;
}

/*texto no menu*/
.dropdown-item{
    font-size: 0.8rem !important;
}

/*classificações dos itens*/

/*BARRA DE BUSCA*/
.d-flex>button{
    color: #fff;
    background-color: #1F519B;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}
.d-flex>button:focus{
    color: #FFF;
    background-color: #1a3f77;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}
.d-flex>button:hover{
    background-color: #1a3f77;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

/*-------------------------------TELA DE CONFIRMAÇÃO (Modal)----------------------*/
@media (min-width: 1000px) {
    .modal-bloco{
        background-color: #1F519B;
        border-radius: 10px;
        padding: 20px;
        color: #fff;
    }
}
@media (max-width: 1000px) {
    .modal-bloco{
        background-color: #1F519B;
        border-radius: 10px;
        padding: 20px;
        color: #fff;
        width: 95%;
    }
}


/*----BOTÕES----*/
.btn-confirmar{
    background-color: #44832d;
    border-radius: 10px;
    color: #fff;
}
.btn-confirmar:hover{
    background-color: #3d642f;
    color: #fff;
}

.btn-cancelar{
    background-color: #961c1c;
    border-radius: 10px;
    color: #fff;
}
.btn-cancelar:hover{
    background-color: #7a2525;
    color: #fff;
}

.btn-desativado{
    background-color: #6e6e6e;
    color: #fff;
    border-radius: 10px;
}
.btn-desativado:hover{
    background-color: #414141;
    color: #fff;
}

.btn-neutro{
    background-color: #747BCF;
    color: #fff;
    border-radius: 10px;
}
.btn-neutro:hover{
    background-color: #575eb1;
    color: #fff;
}

/*------bloco cardapio admin------*/

.cardapio {
    position: relative;
    background-color: #373f97d8;
    margin-top: 0;
    color: #fff;
    height: 30px;
}

.img-editar-cardapio {
    position: absolute;
    right: 10px;
    width: 30px;
    height: auto;
}
